input#name:invalid:focus {
    border: 2px solid red;
}

input#name:valid {
    border: 2px solid rgba(3, 255, 3, 0.806);
}

input#email:invalid:focus {
    border: 2px solid red;
}

input#email:valid {
    border: 2px solid rgba(3, 255, 3, 0.806);
}

input#password:invalid:focus {
    border: 2px solid red;
}

input#password:valid {
    border: 2px solid rgba(3, 255, 3, 0.806);
}

input#dob:invalid:focus {
    border: 2px solid red;
}

input#dob:valid {
    border: 2px solid rgba(3, 255, 3, 0.806);
}